body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;

}
.calculator{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

#display{
    width:95%;
    height:40px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap :10px;
    
    
}
button {
    font-size: 1.5em;
    padding: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #c77575;
} 
